# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies & build
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore folders
ignore/TODO.md
/ignore/
/projects/map-timeseries-app/

# Graphics & design files (exclude all)
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.webp
*.bmp
*.tiff
*.ico
*.psd
*.ai
*.eps
*.xcf
